<h1>Nuevo Vlog</h1>

<form method="POST" action="api/public/vlogs-new" enctype="multipart/form-data" ng-controller="formCtrl">
	<input type="text" name="vlog_name" placeholder="Nombre del vlog" required><br>
	<input type="text" name="vlog_vide" placeholder="Link al video"><br>
	<textarea  name="editor" id="editor" placeholder="Texto del vlog"></textarea><br>
	<input type="hidden" name="uid" value="{{decoded.uid}}">
	Thumbnail:<input type="file" name="img"><br>
	<button>Submit</button>
</form>

<script>
	CKEDITOR.replace( 'editor' );
</script>